.computer-group-mvb {
  position: relative;

  .startup-alm, .business-alm, .enterprise-alm {
    color: #fff;

    .content { 
      
      &>.name {
        font-weight: bold;
      }
    
      &>.info {
        margin-top: 4px;
      }

      &>.icon {
        position: absolute;
        right: 5%;
        bottom: 33%;
        font-size: 24px;
      }
    }
  }
}