.listbox-select-asd {
    position: relative;
    
    width: max-content;

    &>.toggle {
        
        &>.options-btn{
            cursor: pointer;
            padding: 13px 17px 13px 17px;
            border: none;
            border-radius: 14px;
            font-size: 17px;
            color: #fff;
            background-color: #0e0b5e;

            &>.icon {
                display: inline-block;
                margin-left: 150px;
            }
        }

    }

    &>.expand {
        position: absolute;
        top: calc(100% + 3px);
        width: 305px;
        
        &>.options-value{
            border-radius: 14px;
            background-color: #0e0b5e;
            padding: 13px 17px 13px 17px;
            &>.option {
                font-size: 17px;
                color: #fff;
                padding: 12px 10px;
                cursor: pointer;
                
                &:hover {
                    border-radius: 14px;
                    background-color:#3734a0
                }

                &>.check-icon {
                    margin-right: 12px;
                    // visibility: hidden;
                }
            }

        }
    }
}