.samples-90f {
  .line {
    display: flex;
    justify-content: space-between;
  }

  .menu-dropdown {
    padding-left: 130px;
    padding-top: 50px;  
  }

  .listbox-select {
    justify-content: center;
    padding-top: 100px;

  }
}
