.samples-90f {
  .line {
    display: flex;
    justify-content: center;
    // justify-content: space-between;
  }

  .menu-dropdown {
    padding-left: 130px;
    padding-top: 50px;  
  }

  .listbox {
    justify-content: space-around;
    justify-content: center;
  }

  .combobox {
    margin-top: 20px;
  }

  .switch-toggle {
    margin-top: 20px;
  }

  .disclosure{
    margin-top: 20px;
  }
}
