.disclosure-wrapper {
  width: 505px;
  background-color: #a6a5a4;
  border-radius: 22px;
  padding-top: 10px;

  .lorem-ispum-asd {

    .text {
      display: flex;

      img {
        border-radius: 20px;
      }
    }
  }

  .list-bbb {

    .list {

      li {
        font-weight: bold;
      }
    }
  }
}