.popover-fgh {
  position: relative;
  width: 100%;

  &>.toggle {
    width: 100%;
  }

  &>.expand {
    position: absolute;
    // transition: top 200ms;

    // &.show {
    //   top: 30px;
    // }
  }
}