.combobox-b22 {
  
  .combobox-input {
    padding: 0px 45px 0px 0px;
    border-radius: 14px;
    background-color: #0e0b5e;
    
    &> input {
      width: 100%;
      font-size: 17px;
      border: none;
      border-radius: 14px;
      background-color: #0e0b5e;
      color: #fff;
      outline: none;
      padding: 15px 2px 14px 14px;
    }

    & > .icon-wrapper {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 45px;
      cursor: pointer;

      &>.icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
        color: #fff;
        
        font-size: 20px;
      }
    }
  }

  .combobox-list {
    border-radius: 14px;
    background-color: #0e0b5e;
    padding: 13px 0px;

    &>.option {
      font-size: 17px;
      color: #fff;
      padding: 12px 10px 12px 53px;
      cursor: pointer;
      position: relative;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &:hover {
        background-color:#3734a0
      }

      & > i {
        position: absolute;
        top: 13px;
        left: 20px;
      }
    }
  }
}
