.switch-toggle-abc {
  width: 90px;

  &>.switch-btn  {
    position: relative;
    width: 100%;
    cursor: pointer;
    height: 40px;
    border-radius: 25px;
    transition: background-color 600ms;
    border: none;

    &>.white-circle {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background-color: #fff;
      color: #fff;
      border-radius: 50%;
      height: 32px;
      width: 32px;
      transition: left 600ms;
    }
  }
}
