.menu-dropdown-lkj {
  position: relative;
  width: max-content;

  & > .toggle {
    & > .options-btn {
      background-color: #7630e6;
      color: #fff;
      font-weight: bold;
      border: none;
      padding: 10px 20px;
      font-size: 20px;
      border-radius: 10px;
      cursor: pointer;

      & > .icon {
        display: inline-block;
        margin-left: 10px;
        i {
          font-size: 16px;
        }
      }

      &:hover {
        background-color: #5e27b8;
      }
    }
  }

  & > .expand {
    position: absolute;
    top: calc(100% + 10px);
    right: 0;

    width: 300px;

    & > .options-value {
      background-color: #f242f5;
      border-radius: 10px;
      padding: 10px;

      & > .option {
          cursor: pointer;
          color: #fff;
          font-size: 17px;
          border-radius: 10px;
          padding: 15px 15px;

          & > i {
            margin-right: 10px;
            color: #7630e6;
            font-weight: bold;
          }

          &:hover {
            background-color: #5e27b8;
          }
        }
    }
  }
}
