.disclosure-bnm {
  width: 100%;
  padding-bottom: 13px;

  &>.toggle {
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px 0px 10px 14px;
    border-radius: 10px;
    cursor: pointer;

    &>.icon {
      position: absolute;
      bottom: 24%;
      left: 93%;
    }
  }

  &>.expand {
    width: 444px;
    margin: 15px 24px 0px 24px;
  }
}
