.samples-90f {
  .test-menu-dropdown {
    padding-left: 130px;
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
  }

  .test-listbox-select {
    display: flex;
    justify-content: center;
    padding-top: 100px;

  }
}
