.switch-toggle-abc {
  width: 90px;

  &>.switch-btn  {
    position: relative;
    width: 100%;
    cursor: pointer;
    height: 39px;
    border-radius: 25px;
    background-color: #9197a3;
    transition: all 600ms;
    border: none;

    &>.white-circle {
      position: absolute;
      bottom: 3px;
      left: 5px;
      background-color: #fff;
      color: #fff;
      border-radius: 50%;
      height: 33px;
      width: 33px;
      transition: all 600ms;
    }
  }
}